/* styles.css */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: #1e90ff;
  color: white;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.search-section,
.current-weather,
.forecast {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

#city-search {
  margin-bottom: 10px;
}

#search-btn {
  margin-bottom: 20px;
}

#city-list {
  /* /dynamic buttons */
}

.current-weather {
  min-width: 200px;
}

.forecast {
  display: flex;
  justify-content: space-between;
}

.forecast-card {
  background-color: #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 100px;
  text-align: center;
}

/* Responsive design? */
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .forecast {
    flex-direction: column;
    align-items: center;
  }
}
